body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "europa", sans-serif;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-left: 1px solid rgb(229, 229, 229);
}

::-webkit-scrollbar-thumb {
  background: black;
}

a {
  text-decoration: none !important;
}

.flexed-left {
  margin-left: auto !important;
  display: flex;
  align-items: center;
}

.nav {
  align-items: center;
}

.card-helper-1 {
  border: none !important;
  text-align: center;
  padding: 5rem;
  padding-bottom: 0;
}

.violet-btn {
  border-width: 2px;
  font-weight: 500;
  font-size: 17px;
  padding: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  border-color: #6e07f3;
  color: #6e07f3;
  border-radius: 9999px;
  transition: 0.2s linear;
}

.add-btn-on {
  padding: 0.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.violet-btn:hover {
  background-color: #6e07f3;
  color: white;
}

.avatar-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.image-container-1 img {
  width: 100%;
  max-width: 850px;
  margin-top: 4rem;
}

.par-1 {
  margin: auto;
}

.par-1 p {
  font-size: 1.15rem;
  line-height: 1.7;
  font-weight: 500;
  word-break: break-word;
}

.svg-icon-button {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.8rem;
  font-size: 2.5rem;
  background: #5be9b9 !important;
  border: none;
  margin-bottom: 2rem;
}
.card-helper-2 {
  border: none;
  text-align: center;
  padding: 5rem;
  background: #6e07f3 !important;
  color: white;
  padding-bottom: 18rem !important ;
}

.card-body-helper {
  display: grid;
  justify-content: center;
  padding: 0 !important;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .card-helper-1,
  .card-helper-2 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .card-body-helper {
    display: block;
  }
}

.card-helper-X {
  margin-top: -14rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.card-helper-3 {
  transition: 0.2s linear;
  width: 100%;
  max-width: 18rem;
  margin-right: 1rem;
  cursor: pointer;
}

.card-helper-3:hover {
  transform: scale(1.02);
}

.social-btn {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.2s linear;
  cursor: pointer;
}

.social-btn svg {
  font-size: 1.3rem;
  color: white;
}

.social-btn:hover > svg {
  fill: #6e07f3;
}

.social-btn:hover {
  background-color: white;
}

.card-body-helper-2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo-2 {
  width: 15rem;
}

@media screen and (max-width: 670px) {
  .card-body-helper-2 {
    display: grid;
    place-content: center;
    gap: 1rem;
  }
  .card-helper-3 {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 320px) {
  .avatar-container img {
    width: 100%;
  }
  .card-helper-X {
    margin-right: 0;
    margin-left: 0;
  }
  .add-btn-on {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .logo-2 {
    width: 100%;
  }
}

@media screen and (max-width: 265px) {
  .add-btn-on {
    font-size: 0.8rem;
  }
}

.image-title {
  display: flex;
  justify-content: center;
}

.email-title {
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 60%;
  font-weight: 400;
  font-family: "eurostile", sans-serif;
}

@media screen and (max-width: 700px) {
  .email-title {
    width: 90%;
  }
}

.hide-btns {
  display: contents;
}

.contact-logo {
  width: 5rem;
  margin-top: -3rem;
}

@media screen and (max-width: 1000px) {
  .hide-btns {
    display: none;
  }
  .contact-logo {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .flexed-left {
    display: grid !important;
    place-content: center;
    text-align: center;
  }
  .hide-nav {
    display: none !important;
  }
  .toggle-container {
    margin-bottom: 3rem;
  }
}

.nav-container {
  padding: 2rem;
}

.block-container {
  padding: 3rem;
  padding-top: 4rem;
}

.card-booster {
  padding: 3rem;
  border: none !important;
  text-align: center !important;
}

@media screen and (max-width: 300px) {
  .card-helper-1,
  .card-helper-2,
  .nav-container {
    padding: 1rem !important;
  }
  .card-helper-X {
    margin-top: 0;
  }
  .block-container {
    padding: 0;
  }
  .card-booster {
    padding: 0.3rem;
  }
}

.toggle-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-basis: 100% !important;
  }
}
