*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.hero_device {
  width: 400px;
}
.face {
  width: 200px;
}
@media screen and (max-width: 600px) {
  .hero_device {
    width: 100%;
  }
  .face {
    width: 150px;
  }
}

@media screen and (max-width: 300px) {
  .face {
    width: 120px;
  }
}
